.navbar {

  &__logo {
  }

  &__menu {
    font-size: var(--menu-font-size);
  }

  &__link {
    width: 100%;
    color: var(--primary-font-color-dark);
    &:hover {
      color: var(--primary-font-color-dark-hover);
    }
  }

  &__linkItem {
    text-align: center;
  }

  &__linkIndicator {
    width: 100%;
  }

  &__actions {

  }

  &__profile {

  }

  &__profileImage {

  }

  &__profileDropdownIcon {

  }

  &__profileDropdown {

  }

  &__profileMenu {

  }

  &__profileMenuItem {

  }

  &__authButton {
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }

  &__menuIcon {

  }

  &__mobileMenu {

  }

  &__mobileMenuHeader {

  }

  &__mobileLogo {

  }

  &__mobileCloseIcon {

  }

  &__mobileMenuList {

  }

  &__mobileLink {

  }

  &__mobileLinkItem {

  }
}