.footer {
  &__container {
    @media (min-width: 768px) {
      margin: 0 var(--spacing-xl);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3xl);
    margin: var(--spacing-xl) 0;
    margin-top: var(--spacing-4xl);
    font-size: 0.875rem;

    @media (min-width: 640px) {
      display: grid;
      grid-template-columns: 3fr 1fr 1fr;
    }
  }

  &__logo {
    // no specific
  }

  &__logoImage {
    margin-bottom: var(--spacing-md);
    width: 10rem;
  }

  &__company {
    // no specific
  }

  &__contact {
    // no specific
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: var(--spacing-md);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);
    color: var(--color-text-gray-600);
  }

  &__item {
    // default
  }

  &__bottom {
    // no specific
  }

  &__divider {
    // default hr
  }

  &__copyright {
    padding: var(--spacing-md) 0;
    font-size: 0.875rem;
    text-align: center;
  }
}