.header {
  color: var(--primary-font-color-dark);

  &__container {

  }

  &__left {

  }

  &__title {
    color: var(--primary-font-color-dark);
  }

  &__description {
    color: var(--primary-font-color-dark);
  }

  &__trust {

  }

  &__groupProfiles {

  }

  &__trustText {
    color: var(--primary-font-color-dark);
  }

  &__cta {

  }

  &__ctaPrimary {
    background-color: var(--primary-color);

    &:hover {
      background-color: var(--primary-color-hover);
      cursor: pointer;
    }
  }

  &__ctaSecondary {

  }

  &__right {

  }

  &__cardBackground {

  }

  &__image {

  }
}